body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #0056b3; /* Example color */
    color: white;
  }
  
  nav .logo {
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav ul li {
    padding: 0 1rem;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
  }
  .part1 h1{ 
  
    color: black; /* Example color */
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .part2 h1{
    color: #0056b3 ; /* Example color */
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .intro-text p {
    margin-bottom: 1rem;
  }
  
  .intro-text button {
    padding: 0.5rem 1rem;
    background-color: #0056b3; /* Example color */
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .intro-img img {
    max-width: 100%;
    height: auto;
  }
  
  .services {
    display: flex;
    justify-content: space-around;
    background-color: #e6f7ff; /* Light blue background */
    padding: 2rem;
  }
  
  .service {
    background-color: #0056b3; /* Example color */
    color: white;
    padding: 1rem;
    width: 30%;
    text-align: center;
  }
  
  .tagline {
    text-align: center;
    padding: 2rem;
    background-color: white; /* Light gray background */
    font-weight: bold;
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: white;
  }
  
  @media (max-width: 768px) {
    .intro {
      flex-direction: column;
    }
  
    .services {
      flex-direction: column;
    }
  
    .service {
      margin-bottom: 1rem;
    }
  }
  